@import "~office-ui-fabric-react/dist/sass/References.scss";
@import "../../styling/theme.scss";

.SiteScriptDesigner {
  height: 80vh;
  overflow: auto;
}

.row {
  @include ms-Grid-row;
}

.columnLayout {
  @include ms-Grid-col;
  @include ms-sm12;
}

.column {
  @include ms-Grid-col;
  @include ms-sm12;
}
.column1 {
  @include ms-Grid-col;
  @include ms-lg1;
}
.column10 {
  @include ms-Grid-col;
  @include ms-lg10;
}
.column11 {
  @include ms-Grid-col;
  @include ms-lg11;
}

.column8 {
  @include ms-Grid-col;
  @include ms-sm12;
  @include ms-lg8;
}

.half {
  @include ms-Grid-col;
  @include ms-sm12;
  @include ms-lg8;
  @include ms-lg6;
}

.righted {
  text-align: right;
}

.column4 {
  @include ms-Grid-col;
  @include ms-sm12;
  @include ms-lg4;
}

.column6 {
  @include ms-Grid-col;
  @include ms-sm12;
  @include ms-lg6;
}

.column2 {
  @include ms-Grid-col;
  @include ms-sm12;
  @include ms-lg2;
}

.siteScriptAction {
  position: relative;
  background-color: $ms-white;

  h4 {
    margin-top: 5px;
    margin-bottom: 7px;
  }

  &:hover,
  &.isEditing {
    outline: 0px;
    border-color: $ms-themePrimary;
    transition: all 0.3s ease-in-out;
  }

  .summary {
    font-size: smaller;
    overflow: hidden;

    &.isEditing {
      max-height: 0;
      opacity: 0;
      transition: opacity 1s ease-in-out;
      overflow: hidden;
    }

    &.isNotEditing {
      opacity: 1;
      max-height: 150px;
      transition: opacity 1s ease-in-out;
    }

    ul {
      list-style-type: none;
      padding: 0;
      padding-left: 2px;
      margin: 0px;
    }
  }

  .subactions {
    padding: 5px;
  }

  .tools {
    position: absolute;
    top: 5px;
    right: 5px;
  }

  .properties {
    max-height: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    overflow: hidden;

    &.isEditing {
      max-height: unset;
      transition: opacity 1s ease-in-out;
      opacity: 1;
    }
  }

  border: 1px solid darkgray;
  padding: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 3px;
  min-height: 85px;
}
.isSorting {
  .actionLabelText {
    border-bottom: 1px dotted darkgray;
  }
}

.sortIndex {
  border: 2px dotted darkgray;
  border-radius: 10px;
  padding: 1px 4px 2px;
  display: inline-block;
  margin-right: 8px;
}
